.landing-container {
    display: flex;
    flex-direction: row;       /* left + right side-by-side */
    justify-content: center;   /* center whole container horizontally */
    align-items: center;       /* center vertically */
    height: 100vh;
    width: 100%;

    background-image: url("../images/pexels-pixabay-219692.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.main-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px black solid;
    background-color: rgba(255, 255, 255, 0.7);
    height: 80%;
    width: 80%;
    border-radius: 30px;
}

.create-notes {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
}

.create-notes textarea {
    height: 500px;
    width: 500px;
}