.payment-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../images/pexels-pixabay-219692.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    height: 100vh;
    width: 100%;
}

.payment-edit {
    border: 2px solid #000;
    width: 400px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.7);
    text-align: center;
    border-radius: 20px;
}

.payment-card {
    border: 2px solid #000;
    padding: 20px;
    width: 400px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 20px;
}